/* CUSTOMERS SECTION */

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.customers__headline--top {
    padding-bottom: 50px;
    margin: 0;
}

.customers__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #AFB1B8;
    border-style: solid;
}

.customers__link,
.customers__link svg {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:hover svg,
.customers__link:focus,
.customers__link:focus svg {
    border-color: var(--customers-hover);
    fill: var(--customers-hover);
}

.customers__icon {
    fill: #AFB1B8;
}